body{
    background-color: rgb(29, 26, 43);
    
}
#matrix_A h2{
    margin-right: 50px; 
    
}
#matrix_A {
    margin-right: 10px;
    text-align: center;
}

#box{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container{
    text-align: center;
    position: relative;
    top: 115px;
    color: white;
    
    
}

#input_from input{
    border: none;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(9, 12, 12);
    color: white;
    
   
}
#input_from input:hover{
    box-shadow: 0px 0px 6px 0px white;
}
#sum{
    position: relative;
    top: 10px;
}