body{
    background-color: rgb(39, 49, 82);
    font-family: 'Courier New', Courier, monospace;

}
#heading{
    text-align: center;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}
#matrix_A h2{
    margin-right: 50px; 
    
}
#matrix_A {
    margin-right: 10px;
    text-align: center;
}

#box{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container{
    text-align: center;
    position: relative;
    color: white;
    left: 300px;
    box-shadow: 0px 0px 7px 0px rgb(255, 252, 252);
    height: 500px;
    width: 400px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 12, 12);
    
    
}


#input_from input{
    border: none;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(9, 12, 12);
    color: white;
    position: relative;
    border-bottom: 1px solid white;
    top: 10px;
    
   
}
#input_from input:hover{
    box-shadow: 0px 0px 6px 0px white;
}
#sums{
    position: relative;
    top: 50px;
}
#sums button{
    background-color: blueviolet;
    border: none;
    height: 30px;
    margin: 3px;
    color: wheat;
    cursor: pointer;
}